.cloud.one {
  top: 20%;
  width: 300px;
  height: 100px;
  animation: zoomies 15s infinite linear;
}

.cloud.two {
  top: 10%;
  width: 150px;
  height: 50px;
  animation: zoomies 25s infinite linear;
}

.cloud.three {
  top: 10%;
  width: 75px;
  height: 25px;
  animation: zoomies 35s infinite linear;
}

.cloud {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 1000px;
}

.cloud::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50%;
  height: 150%;
  background: white;
  border-radius: 50%;
}

.cloud::after {
  content: "";
  position: absolute;
  top: -40%;
  right: 20%;
  width: 30%;
  height: 100%;
  background: white;
  border-radius: 50%;
}

@keyframes zoomies {
  from {
    left: 0;
    transform: translateX(-100%);
  }
  to {
    left: 100%;
    transform: translateX(-0%);
  }
}
